:root {
    --blanco: #ffffff;
    --fondo: #fefbfb;
    --azul: #455ff4;
    --rojo: #f56e6e;
    --rojo2: #f93a3a;
    --rojo2Linear:linear-gradient(180deg, rgba(238,9,9,1) 2%, rgba(249,38,38,1) 24%, rgba(248,38,38,1) 26%, rgba(207,34,34,1) 81%);
    --fondoOpaco: #5b111157;
    --fondoAzul:rgb(69,95,244);
    --fondoAzulLinear: linear-gradient(180deg, rgba(69,95,244,1) 2%, rgba(29,60,250,1) 29%, rgba(20,47,210,1) 81%);
    --fondoGrisLinear: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(235, 226, 226) 15%, rgb(238, 238, 238) 84%);
    --fuentePrincipal: 'Nunito', sans-serif;
    --fuenteSec: 'Dosis', sans-serif;
    --fuenteTer:'Titan One', cursive;
    --fuenteAlter : 'Rubik Puddles', cursive;
    --fuenteAlter2 : 'Silkscreen', cursive;



}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    font-weight: 1000;
    color: black;
    font-size: 20px;
    text-align: center;
}
a,h1,h2,h3,h4,p {
    font-family: var(--fuentePrincipal);
    margin: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}

.header{
    display: flex;
    z-index: 10;
    width: 100%;
    height: 125px;
    position: fixed;
    background-color: #fefbfbf1;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    margin: 10px auto; 
    width: 100%;
    
}

.header__logo{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.header__logo img{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
}


.header__enlaces{
    display: flex;
    justify-content: center;
    flex-basis: 70%;
}

ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 55%;
}

li{
    align-self: center; 
    list-style: none;
    flex-basis: 33%;
}


.portada{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.fotoPortada{
    display: flex;
    justify-content: center;
    filter: brightness(40%);
    position: absolute;
    background-image: url(Imagenes/portada4.jpg);
    height: 95%;
    width: 100%;
    filter: blur(5px) brightness(35%);
    background-size: cover;
    background-position: top top;
    background-attachment: fixed;
}

.textoPortada{
    width: 85%;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 5;
    font-family: var(--fuenteAlter2);

}
.textoPortada h2{
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.textoPrueba{
    font-family: var(--fuenteAlter2);
    color: white;
    font-size: 50px;
    text-align: center;
}


.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.servicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0d1ad5;
    margin: 10px;
    width: 80%;
}


.servicio-imagen{
    display: flex;
    flex-basis: 50%;
    background-color: #0b0d1ad5;
}

.servicioImg{
    transform: translateX(100%);
    transition: all 1s ease-in-out;
}

.servicioImg2{
    transform: translateX(0%);
    transition: all 1s ease-in-out;
}

.servicio-imagen img{
    width: 400px;
    height: 250px;
    filter:saturate(150%)
}



.servicio2Img{
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}

.servicio2Img2{
    transform: translateX(0%);
    transition: all 1s ease-in-out;
}
.servicio-texto{
    display: flex;
    color:white;
    font-size: 15px;
    text-align: justify;
    text-transform: uppercase;
    padding: 20px;
    flex-basis: 50%;
}

/* GALERIA */
.galeriaCont{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.galeriaCont ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
    margin: 30px;
    padding: 0;
}

ul img{
    width: 100%;
    height: 150px;
}
.galeriaCont li{
    cursor:zoom-in
}

.galeriaCont img:hover{
    filter: brightness(50%);
    transition: .5s all linear;
}

.mostrarFoto{
    background-color: rgba(0, 0, 0, 0.900);
    width: 100%;
    height: 100%;
    z-index: 20;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.fotoC{
    width: 85%;
    height: 65%;
    background-size: cover;
}

.ingresaFoto{
    animation: ingresaFoto .4s ease-in-out;
}

@keyframes ingresaFoto {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1)
    }
}

.retiraFoto{
    animation: retiraFoto .5s ease-in-out ;
}

@keyframes retiraFoto {
    0%{
        filter: opacity(100%);
    }
    100%{
        filter: opacity(0);
    }
}

.cerrarFoto{
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    background:var(--fondoGrisLinear);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:absolute;
    font-size: 45px;
    text-align: center;
    top: 0;
    transform: translateY(25px)
}

.cerrarFoto:hover{
    filter: brightness(125%);
}




.titulo{
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
}
.contacto-bloque1{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 20px;
}

.oficinas, .oficinas2{
    display: flex;
    width: 700px;
    height: 200px;
}


.oficinas-texto, .oficinas-texto2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    height: 100%;
    background-color: #f4e8ad;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



img{
    width: 50%;
}

.oficinas-texto_telefono, .oficinas-texto_ubicacion{
    flex-basis: 50%;
}

.oficinas-texto_ubicacion{
    border-bottom: 1px solid rgba(128, 128, 128, 0.591);
}
.logoUbicacion, .logoTelefono{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    background-color: #ec8079;
    border-radius: 30px;

}
.textoUbicacion{
    height: 100%;
}
.logoUbicacion{
    border-top: none;
    border-bottom: none;
}


#telefono{
    animation: moverTel 1s linear infinite;
}

@keyframes moverTel {
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}

#ubicacion{
    animation: moverUbi 1s linear infinite;
}

@keyframes moverUbi {
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}



.oficinas-texto_ubicacion,.oficinas-texto_telefono{
    display: flex;
}

.textoUbicacion, .textoTelefono{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 70%;
    font-size: 15px;
    color: #192461;
}

.oficinamapa{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

iframe{
    width: 100%;
    height: 100%;
}

.footer{
    height: 150px;
    background:var(--fondoGrisLinear);
}
