
:root{
    --blanco : #ffffff;
    --fondo : #fefbfb;
    --fondoAzul : #455ff4;
    --rojo : #f56e6e;
    --rojo2 : #f93a3a;
    --fondoRandom: rgb(18, 75, 119);
    
        --fondoAzul : rgb(31, 77, 134);
    --azul : rgb(39, 106, 231);
    --azulOscuro: rgb(6, 6, 65);
    --fondoGrisLinear :linear-gradient(180deg, rgba(207,206,226,1) 0%, rgba(241,241,241,1) 85%, rgba(235,235,235,1) 97%);
    --fuentePrincipal : 'Nunito', sans-serif;
    --fuenteSec : 'Dosis', sans-serif;
    --fuenteTer : 'Lilita One', cursive;
    --fuenteFooter :'Monomaniac One', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.body{
    display: flex;
    flex-direction: column;
    background: var(--fondoGrisLinear);
}
h1,p,li{
    font-family: var(--fuenteSec);
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-weight: 400;
    /* text-shadow: 5px 5px 10px  black; */
    font-size: 25px;
    animation: moverLink 10s linear infinite;
    text-transform: uppercase;
    text-align: center;
}

@keyframes moverLink {
    0%{
        transform:traslateX(0)
    }
    100%{
        transform:traslateX(10px)
    }
}

li{
    list-style: none;
}

.header{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--fondoGrisLinear);
    height: 125px;
    width: 100%;
    z-index: 25;
    box-shadow: 0px 0px 20px rgb(49, 44, 24);
    position: fixed;
}

/* .headerFixed{
    position: fixed;
} */

.logo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    width: 100%;
    height: 100%;
}

#logo{
    background-image: url(imagenes/logoancho.png);
    width:100%;
    height:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter:drop-shadow(1.5px 0 5px black)
    
    /* animation: moverLogo 2s linear forwards */
}
.enlaces-cont{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    gap: 20px;
    align-items: center;
    padding: 5px;
    flex-basis: 65%;
    height: 100%;
}

.enlaces-cont li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.enlaces-cont li:hover .barrita{
    width: 100%;
    transition: all .2s linear;
}

.enlaces-cont li:hover a {
    color: var(--fondoAzul);
}

a:hover{
    cursor: pointer;
    font-weight:800;
}

.barrita {
    height: 2px;
    width: 0%;
    background-color: var(--rojo2);
}



@media (max-width: 1100px){
    .header{
        height: 100px;
    }
    #logo{
        width: 75%;
    }
    .enlaces-cont a{
        font-size: 20px;
    }

}
.carousel-cont{
    overflow: hidden;

}
.carousel{
    display: flex;
    width: 100%;
    height: 100vh;
    /* animation: moverIMG1 15s ease-out infinite; */
}

.imagen-carousel {
    display: flex;
    width: 100%;
    filter: blur(5px) brightness(35%);
    background-image: url(Imagenes/bondi4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.textoCarousel{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.textoCar{
    display: flex;
    justify-content:center;
    text-align: center;
    font-size:100px;
    color: white;
    font-family: var(--fuenteTer);
}



@keyframes moverIMG1 {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50%);
    }    

    100%{
        transform: translateX(0);
    }
}

@media (max-width: 1100px){
    
    .textoCar{
        font-size: 65px;
    }
}

/* NOSOTROS */

#nosotros{
    width: 100%;
    background-color: var(--fondoAzul);
}

.nosotros-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    background-color: var(--fondoAzul);
}

.nosotros-lista{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
}

.nosotros-cont li{
    list-style:inside;
    font-size: 25px;
    color: white;
}

#titulo{
    text-transform: uppercase;
    text-shadow: 5px 5px 10px  black;
    margin-bottom: 30px;
    animation: sombrear 3s linear alternate-reverse infinite;
    text-align: center;
    font-size: 30px;
    color: white;
}


@keyframes sombrear{
    0%{
        transform: scale(1.1);
    }
    100%{
        text-shadow: none;
        
    }
}
    /* 
    NOSOTROS  */

#nosotros-texto{
    font-size: 25px;
    text-align: justify;
    width: 75%;
    color: white;
}

#nosotros-texto2{
    font-size: 25px;
    text-align: center;
    width: 75%;
    color: whitesmoke;
}

#nosotros-subtitulo{
    font-family: var(--fuenteSec);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--rojo2);
    border-radius: 10px;
    padding: 5px;
    color: var(--blanco);
    font-size: 35px;
    margin-top: 20px;
}

@media (max-width: 1100px) {
    #nosotros-texto{
        font-size: 22px;
    }
    
    #nosotros-texto2{
        font-size: 22px;
    }

    .nosotros-lista li {
        font-size: 22px;
    }

    .nosotros-lista li  strong {
        font-size: 22px;
    }

    #nosotros-subtitulo {
        font-size: 27.5px;
    }
}


/* 
GALERIA */


.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--fondoAzul);
}
.galeria ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
}

.galeria li{
    width: 500px;
    height: 250px;
}

@media (max-width:400px){
    .galeria ul {
        grid-template-columns: 100%;
    }
}

@media (max-width:900px){
    .galeria ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1100px){
    .galeria li{
        width: 300px;
        height: 150px;
    }
}



.galeria_foto img{
    width: 100%;
    height: 100%;
}

.pantalla_negra{
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 50;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


.retrato_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75%;
}
.retrato{
    width:100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.animacionRetrato {
    animation: ingresaRetrato .5s ease-out;
}

@keyframes ingresaRetrato {
    0%{
        filter: opacity(0)
    }
    100%{
        filter: opacity(1);
    }
}

.boton_cerrador{
    cursor:pointer;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.913);
    position: absolute;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 50px;
    top: 0;
    margin-top:10px;
    gap: 10px;
}

.boton_cerrador:hover{
    background-color: rgb(244, 244, 244);
}

.boton_cerrador:active{
    transform: scale(.9);
}

li img:hover{
    cursor: zoom-in;
    transform:scale(1.1);
    outline: 5px solid var(--azul);
    transition: all 1s;
    
}



/* SECCION CONTACTO */


.contacto-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--rojo2);
    padding-bottom: 20px;
    
}

.contacto-cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    align-items: center;
    overflow: hidden;
}

.contacto{
    display: flex;
    justify-content: center;
    background-color: var(--fondoAzul);
    max-height: 300px;
    min-height: 250px;
    width: 75%;
    /* border-top-right-radius: 250px 250px;
    border-top-left-radius: 0px 0px; */
    
}

.contacto1Animacion {
    animation: entrarContacto 2s ease-in-out forwards;
}

.contacto2 {
    display: flex;
    justify-content: center;
    background-color: var(--fondoAzul);
    max-height: 300px;
    min-height: 250px;
    width: 75%;
    /* border-top-right-radius: 250px 250px;
    border-top-left-radius: 0px 0px; */
    
}

.contacto2Animacion {
    animation: entrarContacto2 2s ease-in-out forwards;
}

@keyframes entrarContacto{
    0%{
        transform:translateX(-100%)
    }
}

@keyframes entrarContacto2{
    0%{
        transform:translateX(100%)
    }
}



.contacto-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.contacto-2{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.contacto-mapa{
    display: flex;
    width: 100%;
}

iframe{
    width: 100%;
    max-height: 300px;
}

#contacto-texto{
    color: var(--blanco);
    font-family:var(--fuenteSec);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    /* animation: apareceTexto 3s linear forwards; */
}

@media (max-width: 1100px) {
    #contacto-texto {
        font-size: 25px;
    }
}
.info-cont{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: var(--rojo2);
    padding-bottom: 20px;
}

.servicios-cont {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}
.servicio, .servicio2{
    display: flex;
    width: 75%;
    height: 200px;
    gap: 20px;
    background-color: var(--fondoAzul);
}

.servicioAnimacion{
    animation: entrarServicio 2s ease-in-out;
}

@keyframes entrarServicio {
    0%{
        transform: translateX(100%);
    }
}

.servicio2{
    flex-direction:row-reverse;
    
}

.servicio2Animacion{
    animation: entrarServicio2 2s ease-in-out;
}

@keyframes entrarServicio2 {
    0%{
        transform: translateX(-100%);
    }
}

.servicio img{
    width:100%
}

.servicio2 img{
    width:100%;
}

.servicio-img{
    display: flex;
    flex-basis: 30%;
}

.servicio-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
    color: white;
    padding: 17.5px;
    text-align: justify;
    flex-basis: 70%;
}

@media (max-width: 1100px){
    #titulo{
        font-size: 25px;
    }
    .servicio-txt p{
        font-size: 25px;
        
    }
}


.info-cont h1{
    text-transform:uppercase;
}

.nosotros-cont, .contacto-cont, .info-cont{
    scroll-margin-top: 98px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    background-color: var(--fondoAzul);
    box-shadow: 0px 0px 20px rgb(49, 44, 24);
}

.footer-izq img{
    max-height: 120px;
    filter: drop-shadow(1.5px 1px 1px white);
}

.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.footer-izq, .footer-der{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis:50%;
    font-family: var(--fuenteFooter);
    height: 100%;
}

.footer-txt1, .footer-txt2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:35px;
    text-align: center;
    text-transform: uppercase;
}


.footer-redes{
    display: flex;
    justify-content:space-between;
    /* transform: scale(0); */
    /* animation: redes-footer 2s ease-out forwards; */
}

.footer-redes a:hover{
    transform: scale(1.1);
    transition: all .5s ease-out;
}

.footer-redes img{
    max-height: 120px;
    width:75%;
    
}

@keyframes redes-footer {
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1)
    }
}

@media (max-width: 1100px){
    .footer{
        height: 100px;
    }
    .footer-izq img{
        height: 75px;
    }
    .footer-txt1, .footer-txt2{
        font-size: 25px;
    }
    .footer-redes img{
        max-height: 100px;
    }
}



