
:root{
    --blanco : #ffffff;
    --fondo : #fefbfb;
    --fondoAzul : #455ff4;
    --rojo : #f56e6e;
    --rojo2 : #f93a3a;
    --fondoRandom: rgb(18, 75, 119);
    
        --fondoAzul : rgb(31, 77, 134);
    --azul : rgb(39, 106, 231);
    --azulOscuro: rgb(6, 6, 65);
    --fondoGrisLinear :linear-gradient(180deg, rgba(207,206,226,1) 0%, rgba(241,241,241,1) 85%, rgba(235,235,235,1) 97%);
    --fondoGrisLinear2 : linear-gradient(180deg, rgba(241,241,241,1) 100%);
    --fondoGrisLinear3 : linear-gradient(180deg,rgba(235,235,235,1) 0%, rgba(241,241,241,1) 85%, rgba(207,206,226,1) 100%);
    --fuentePrincipal : 'Nunito', sans-serif;
    --fuenteSec : 'Dosis', sans-serif;
    --fuenteTer : 'Lilita One', cursive;
    --fuenteFooter :'Monomaniac One', sans-serif;
    --fuenteFlecha : 'Nanum Gothic', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* .body{
    display: flex;
    
    background: var(--fondoGrisLinear);
} */
h1,h3,p,li{
    font-family: var(--fuenteSec);
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-weight: 400;
    /* text-shadow: 5px 5px 10px  black; */
    font-size: 25px;
    animation: moverLink 10s linear infinite;
    text-transform: uppercase;
    text-align: center;
}

@keyframes moverLink {
    0%{
        transform:traslateX(0)
    }
    100%{
        transform:traslateX(10px)
    }
}

li{
    list-style: none;
}

.header{    
    display: flex;
    background: var(--fondoGrisLinear);
    height: 110px;
    width: 100%;
    position: fixed;
    z-index: 20;
    box-shadow: 0px 0px 20px rgb(49, 44, 24);

}
.header_large {
    display: flex;
    flex-basis: 100%;
}
.header_small {
    display: none;
    justify-content: center;
    align-items: center;
    background:var(--fondoGrisLinear);
    width: 100%;
    z-index: 20;
}

/* .headerFixed{
    position: fixed;
} */

.logo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    width: 100%;
}

.header_small .logo-cont {
    flex-basis: 85%;
}

#logo{
    background-image: url(imagenes/logoancho.png);
    width:250px;
    height:125px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    filter:drop-shadow(1.5px 0 5px black);
    /* animation: moverLogo 2s linear forwards */
}

.navegacion_large {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin-right: 20px;
    flex-basis: 75%;
}

/* .enlaces-cont {
    display: flex;
} */
.enlaces-cont ul{
    display: flex;
    width: 100%;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
    padding: 5px;
    height: 100%;
    
}

.enlaces-cont li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.enlaces-cont li:hover a {
    color: var(--fondoAzul);
}

.enlaces-cont a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 75%;
}


a:hover{
    cursor: pointer;
    font-weight:800;
}

.barrita {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 0%;
    flex-basis: 3%;
    background-color: var(--rojo2);
}

.enlaces-cont li:hover .barrita{
    width: 100%;
    transition: all .25s linear;
}

.navegacion-small_contenedor {
    display: none;
    width: 100%;
    height: 150px;
    transform: translateY(-100%);
    background:var(--fondoGrisLinear3);
    z-index: 15;
}

.navegacion-small {
    display: flex;
    align-items: center;  
    width: 100%;
}

.enlaces-small {
    width: 100%;
}

.enlaces-small ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.enlaces-small li {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 35px;
    /* border: 1px solid rgba(128, 128, 128, 0.096); */
}

.enlaces-small li a{
    font-size: 17.5px;
}

.enlaces-small li:hover {
    background:var(--rojo2);
}

.enlaces-small li:hover a {
    color: white;
}

.boton-menu_contenedor {
    display: none;
    justify-content: flex-end;
    align-items: center;
    height:100%;
    flex-basis: 25%;
    margin-right: 20px;
}

.boton-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40px;
    height: 40px;
    /* border: 1px solid grey;
    cursor: pointer; */
}

.linea1, .linea2, .linea3 {
    width:75%;
    height: 1px;
    background-color: black;
}

@media (max-width:1400px) {
    .enlaces-cont li a {
        font-size: 20px;
    }
}

@media (max-width: 1100px){
    .header{
        height: 100px;
    }
    #logo{
        width: 200px;
        height: 100px;
    }
    .enlaces-cont {
        gap: 15px;
    }
    .enlaces-cont li a {
        font-size: 17.5px;
    }
}

@media (max-width: 480px) {
    .header {
        background: var(--fondoGrisLinear2);
        flex-direction: column;
        z-index: 10;
        /* height: 85px; */
        box-shadow: none;
        height: 90px;
        position: unset;
    }
    #logo{
        width: 175px;
        height: 90px;
    }
    .header_large {
        display: none;
    }
    .header_small {
        display: flex;
    }
    .logo-cont{
        /* flex-basis: 75%; */
        justify-content: flex-end;
    }
    #logo{
        margin-left: 10px;

    }
    .enlaces-small a {
        font-size:20px
    }
    .navegacion_large{
        display: none;
    }
    .navegacion-small_contenedor {
        display: flex;
    }
    .boton-menu_contenedor {
        display: flex;
    }
}



.portada-cont {
    display: flex;
    width: 400px;
    height: 100vh;
    
}

.portada {
    display: flex;
    width: 100%;
      
}

/* @keyframes a {
    100% {
        transform: translateX(-100%);
    }
} */

.portada ul { 
    display: flex;
    width: 300%;
    padding: 0;
    margin: 0;
    overflow: hidden;  
    animation: a 3s linear;
}

.portada li {
   display: flex;
}



.portada-img {
    width: 100%;
}

.portada img {
    width: 100%;
    height: 100%;
    filter: brightness(40%) blur(px);
}


.textoPortada{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.textoPor{
    display: flex;
    justify-content:center;
    text-align: center;
    font-size:100px;
    color: white;
    font-family: var(--fuenteTer);
}



@keyframes moverIMG1 {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50%);
    }    

    100%{
        transform: translateX(0);
    }
}

@media (max-width: 1400px){
    .textoPor {
        font-size: 85px;
    }
}

@media (max-width: 1100px){
    .textoPor{
        font-size: 65px;
    }
}

@media (max-width: 480px){
    .portada-cont {
        height: 50vh;
    }
    .textoPortada {
        height: 50vh;
    }
    .textoPor {
        font-size: 35px;
    }
}

.servicios ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items:center;
    padding: 30px;
}

@media (min-width: 1201px){
    .servicios li:nth-child(5){
        grid-column: 2/3;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    /* background-color: #0b0d1ad5; */
    overflow: hidden;
    margin: 30px;
    width: 300px;
    height: 400px;
    background-color: rgb(240, 228, 228);
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 30px 2px 30px rgba(0, 0, 0, 0.527);
    /* animation: aparece 1s ease-out forwards; */
}

#servicio-titulo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-basis: 20%;
    justify-self: center;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

#servicio-texto {
    display: flex;
    align-items: center;
    flex-basis: 80%;
    /* justify-self: center; */
    font-weight: bold;
    color: rgb(51, 43, 43);
    background: linear-gradient(0deg, rgba(252, 255, 62, 0.589) 100%, rgba(213,225,232,1) 100%);
    height: 100%;
    width: 100%;
    margin:0;
}

#servicio-texto p {
    padding: 0 30px;
    text-align: center;
    font-size: 25px;
}

.servicio-icono {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-40%);
    border: 2px solid rgba(128, 128, 128, 0.52);
    border: none;
    background-color: rgb(240, 228, 228);

}

.icono-imagen {
    background-image: url(Imagenes/boleto.png);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.icono-imagen2 {
    background-image: url(Imagenes/locacion.png);
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
}

.icono-imagen3 {
    background-image: url(Imagenes/escolar.png);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
}

.icono-imagen4 {
    background-image: url(Imagenes/excursion.png);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
}

.icono-imagen5 {
    background-image: url(Imagenes/app.png);
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
}
.icono-imagen6 {
    background-image: url(Imagenes/redes.png);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
}


@media (max-width: 1400px) {
    .servicio {
        width:230px;
        height:300px;
        margin: 30px 20px;
    }
    #servicio-titulo {
        font-size: 22.5px;
    }
    #servicio-texto p{
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .servicios ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .servicio{
        width: 220px;
        height: 250px;    
        margin: 20px;
    }
    #servicio-titulo {
        font-size: 17.5px;
    }
    #servicio-texto p{
        font-size: 17.5px;
        padding: 0 15px;
    }
    .servicio-icono {
        width:65px;
        height:65px;
    }
}

@media (max-width: 480px) {
    .servicios ul {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        margin: 0;
        gap: 20px

    }
    .servicio {
        margin: 10px;
        width: 150px;
        height: 210px;
    }
    #servicio-titulo {
        font-size:14px
    }
    #servicio-texto p{
        font-size: 14px;
        padding: 0 10px;
    }
    .servicio-icono {
        width:50px;
        height:50px;
    }
}

/* NOSOTROS */

#nosotros{
    width: 100%;
    background-color: var(--fondoAzul);
}

.nosotros-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    background-color: var(--fondoAzul);
    gap: 30px;
}

.nosotros-lista{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;

}

.nosotros-cont li{
    list-style:inside;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.499);
    padding: 15px;
    border-radius: 32px;
}

#titulo{
    text-transform: uppercase;
    text-shadow: 5px 5px 10px  black;
    margin-bottom: 30px;
    /* animation: sombrear 3s linear alternate-reverse infinite; */
    text-align: center;
    font-size: 35px;
    color: white;
}

@keyframes sombrear{
    0%{
        transform: scale(1.1);
    }
    100%{
        text-shadow: none;
        
    }
}
    /* 
    NOSOTROS  */

#nosotros-texto{
    font-size: 27.5px;
    text-align: justify;
    width: 75%;
    color: white;
}

#nosotros-texto2{
    font-size: 27.5px;
    text-align: center;
    width: 75%;
    color: whitesmoke;
}

#nosotros-subtitulo{
    font-family: var(--fuenteSec);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--rojo2);
    border-radius: 10px;
    padding: 5px;
    color: var(--blanco);
    font-size: 35px;
    margin-top: 20px;
}

@media (max-width: 1400px) {
    #titulo{
        font-size: 30px;
    }
    #nosotros-texto {
        font-size:24px;
    }
    #nosotros-texto2{
        font-size:24px;
    }
    .nosotros-lista li {
        font-size:20px;
    }
}

@media (max-width: 1100px) {
    .nosotros-cont {
        gap: 5px;
    }
    .nosotros-cont li {
        padding: 15px;
    }
    #titulo {
        font-size: 23px;
    }
    #nosotros-texto{
        font-size: 23px;
    }
    
    #nosotros-texto2{
        font-size: 23px;
    }

    .nosotros-lista li {
        font-size: 23px;
    }

    .nosotros-lista li  strong {
        font-size: 23px;
    }

    #nosotros-subtitulo {
        font-size: 30px;
    }
}

@media (max-width: 480px){
    #titulo {
        font-size: 20px;
    }
    .nosotros-cont {
        gap: 5px;
    }
    .nosotros-cont li {
        padding: 13px;
    }
    #nosotros-texto {
        font-size: 18px;
    }
    #nosotros-texto2 {
        font-size: 18px;
    }
    .nosotros-lista li {
        font-size: 17px;
    }
    .nosotros-lista li strong {
        font-size: 18px;
    }
    #nosotros-subtitulo {
        font-size: 18px;
        margin: 10px;
    }
}

/* 
GALERIA */

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fondoAzul);
}

.fotoAmpliada_cont {
    display: flex;
    width: 90%;
    height: 500px;
    margin-bottom: 50px;
}

.fotoAmpliada {
    width: 100%;
    height: 100%;
   background-image: url(./Imagenes/recuerdos5.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
.galeria-subcont {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.galeria ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 0;
    place-items: center;
    gap: 10px;   /* animation: moverFoto 60s linear infinite; */
}


.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 30px;
    background-color: rgba(220, 220, 220, 0.459);
}

.botones span {
    font-size: 20px;
}

@keyframes moverFoto {
    50% {
        transform: translateX(-83.3%);
    }
    100% {
        transform: translateX(0);
    }
}

.galeria li{
    width: 175px;
    height: 100px;
}

/* @media (max-width:1100px){
    

    .galeria li{
        width: 500px;
        height: 125px;
    }
} */

/* @media (max-width:400px){
    .galeria ul {
        grid-template-columns: 100%;
    }
} */

.galeria_foto img{
    width: 100%;
    height: 100%;
}

.pantalla_negra{
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 50;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


@keyframes ingresaRetrato {
    0%{
        filter: opacity(0)
    }
    100%{
        filter: opacity(1);
    }
}

.boton_cerrador{
    cursor:pointer;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.913);
    position: absolute;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 50px;
    top: 0;
    margin-top:10px;
    gap: 10px;
}

.boton_cerrador:hover{
    background-color: rgb(244, 244, 244);
}

.boton_cerrador:active{
    transform: scale(.9);
}

.galeria li img:hover{
    cursor: zoom-in;
    filter: brightness(75%);
    transition: all 1s;
}

.galeria li img:active {
    transform: scale(1.5)
}

@media (max-width:1100px) {
    /* .galeria ul {
        grid-template-columns: repeat(4, 1fr);
    } */
    .galeria li{
        width: 150px;
        height: 75px;
    }
}

@media (max-width: 480px) {
    .fotoAmpliada_cont {
        margin-bottom: 10px;
        height: 300px;
    }
    .galeria ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    .galeria li{
        width: 110px;
        height: 75px;
    }

}



/* SECCION CONTACTO */


.contacto-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--rojo2);
    padding-bottom: 20px;
    
}

.contacto-cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    align-items: center;
    overflow: hidden;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondoAzul);
    height: 300px;
    width: 75%;
    /* border-top-right-radius: 250px 250px;
    border-top-left-radius: 0px 0px; */
}

.contacto1Animacion {
    animation: entrarContacto 2s ease-in-out forwards;
}

.contacto2 {
    display: flex;
    justify-content: center;
    background-color: var(--fondoAzul);
    height: 300px;
    width: 75%;
    /* border-top-right-radius: 250px 250px;
    border-top-left-radius: 0px 0px; */
    
}

.contacto2Animacion {
    animation: entrarContacto2 2s ease-in-out forwards;
}

@keyframes entrarContacto{
    0%{
        transform:translateX(-100%)
    }
}

@keyframes entrarContacto2{
    0%{
        transform:translateX(100%)
    }
}

.contacto-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.contacto-2{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contacto-mapa{
    display: flex;
    width: 100%;
    height: 100%;
}

iframe{
    width: 100%;
    height: 100%;
}

#contacto-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
    font-family:var(--fuenteSec);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    height: 100%;
    /* animation: apareceTexto 3s linear forwards; */
}


.info-cont{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: var(--rojo2);
    padding-bottom: 20px;
}
.info-cont h1{
    text-transform:uppercase;
}


@media (max-width: 1100px) {
    #contacto-texto {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .contacto {
        height: 200px;
        width: 85%;
    }
    .contacto2 {
        height: 200px;
        width: 85%;
    }
    #contacto-texto {
        font-size: 16px;
    }
}

.nosotros-cont, .contacto-cont, .info-cont, .galeria{
    scroll-margin-top: 100px;
}

@media (max-width:480px) {
    .nosotros-cont, .contacto-cont, .info-cont, .galeria{
        scroll-margin-top: 90px;
    }
}

.botonBackCont {
    display: flex;
    position: absolute;
    width: 100%;
    height: 150px;
    justify-content: flex-end;
    align-items: flex-end;
}

.botonBack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: opacity(75%);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    transform: rotate(-90deg);
    animation: moverBotonBack 1.5s ease-in infinite;
}

@keyframes moverBotonBack {
    100% {
        transform: translateY(-10px) rotate(-90deg);

    }
}

.botonBack a {
    font-size: 22px;
    font-family: var(--fuenteFlecha);
    font-weight: bold;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--fondoAzul);
    box-shadow: 10px 0px 20px rgb(49, 44, 24);
    width: 100%;
}

.footer_contenido {
    display: flex;
}

.footer_izq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.footer_izq-img {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    width: 200px;
    height: 200px;
}

.footer_izq-img img {
    filter: drop-shadow(2px 1px 1px white);
}


.footer_der {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
}

.footer_der-contacto {
    display:flex;
    flex-basis: 100%;
}

.footer_der-contacto ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    gap: 10px;
}

.footer_der-contacto_small {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_der-contacto_small h2 {
    display: none;
    font-family: var(--fuenteSec);
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.footer_der-contacto_small ul {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.footer_der-item {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 50px;
    width: 50px;
    color: white;
    padding:2.5px 5px;
}

.footer_der-item_small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    padding:2.5px 5px;
    animation: resaltarMedio 2s linear infinite;

}

/* @keyframes resaltarMedio {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }

} */

.footer_der-item img {
    height: 100%;
}


.footer_der-item_small img {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-basis: 100%;
    border-radius: 50%;
}

.footer_der-item p {
    text-transform: uppercase;
    font-size:20px
}

.footer_creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 1, 104);
    font-family: var(--fuenteSec);
    font-size: 20px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.footer_creditos a {
    font-size: 20px;
    font-weight: 600;
    text-decoration:underline;
    color: #a49734;
}

@media (max-width:1100px) {
    .footer{
        flex-direction: column;
    }
    .footer_izq {
        gap: 20px;
    }
    .footer_izq-img {
        justify-content: center;
        width: 150px;
        height: 150px;
    }
    .footer_der-item {
        width: 150px;
        height: 30px;
        gap: 5px;
    }
    .footer_der-item p{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .footer_contenido {
        flex-direction: column;
    }

    .footer_izq {
        border-bottom: 1px solid rgba(255, 255, 255, 0.112);
    }
    .footer_izq-img {
        width: 100px;
        height: 100px;
    }
    .footer_der-contacto {
        display: none;
    }
    .footer_der-contacto_small ul{
        display: flex;
        padding: 0;
    }
    .footer_der-item {
        width: 75px;
    }

    .footer_der-item img {
        width: 100%;
    }
    .footer_creditos {
        font-size: 13px;
    }
    .footer_creditos a{
        font-size: 13px;
    }
    .footer_der-contacto_small h2 {
        display: inline;
    }
    }





