:root {
    --blanco: #ffffff;
    --fondo: #fefbfb;
    --azul: #455ff4;
    --rojo: #f56e6e;
    --rojo2: #f93a3a;
    --rojo2Linear:linear-gradient(180deg, rgba(238,9,9,1) 2%, rgba(249,38,38,1) 24%, rgba(248,38,38,1) 26%, rgba(207,34,34,1) 81%);
    --fondoOpaco: #5b111157;
    --fondoAzul:rgb(69,95,244);
    --fondoAzulLinear: linear-gradient(180deg, rgba(69,95,244,1) 2%, rgba(29,60,250,1) 29%, rgba(20,47,210,1) 81%);
    --fondoAzulFuerte : rgb(12, 12, 60);
    --fondoGrisLinear: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(235, 226, 226) 15%, rgb(238, 238, 238) 84%);
    --fuentePrincipal: 'Nunito', sans-serif;
    --fuenteSec: 'Dosis', sans-serif;
    --fuenteTer:'Titan One', cursive;
    --fuente4ta :'Signika Negative', sans-serif;
    --fuente5ta : 'Rampart One', sans-serif;


}
*{
    margin: 0;
    padding:0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
p {
    font-family: var(--fuente4ta);
    margin: 0;
}

a{
    text-decoration: none;
    text-transform:uppercase;
}

body {
    position: relative;
    min-height: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}

.visible{
    display: flex;
}

.oculto{
    display: none;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: center;
    background:#363062;
    background: #3D30A2;
    width: 50%;
    border-radius: 50px;
    margin: 30px auto;
    position: relative;
}


.botonvolver-contenedor{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-self: baseline;
    margin: 0px 0px 20px 50px;
}

.botonvolver{
    width: 100%;
    transform: rotate(90deg);
    background-image: url(../Iconos/flecha.png);
    background-size: cover;
    animation: palpitar 1s infinite;
}

@keyframes palpitar {
    100%{
        transform:rotate(90deg)translateY(17.5px);
    }
}

.contenedor {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fondo {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: url(../Imagenes/logoempresa.jpg);
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
    position: absolute;
    filter: opacity(20%)
}

.resaltado{
    animation: escalar .75s linear alternate-reverse infinite;
}
.normalizarResaltado{
    animation: normalizarResaltado .5s linear forwards;
}
.opacar{
    animation: opacar .5s linear .5s forwards;
}
.opacarFondo{
    animation: opacarFondo .5s .5s forwards;
}

.normalizarFondo{
    animation: normalizarFondo 1s linear forwards;
}
.normalizar{
    animation: normalizar .5s linear forwards;
}

@keyframes escalar {
    100%{
        transform: scale(1.02);
    }
}

@keyframes normalizarResaltado {
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes opacar {
    100%{
        filter: opacity(25%);
        transform: scale(.9);
    }
}

@keyframes normalizar {
    0%{
        filter: opacity(25%);
        transform: scale(.8);
    }
    100%{
        filter: opacity(100%);
        transform: scale(1);
    }
}

.resultados-container {
    width: 100%;
    max-height: 600px;
    display: flex;
}

.resultados-cont {
    display: flex;
    flex-direction: column;
    /* background:var(--rojo2Linear); */
    align-items: center;
    gap: 20px;
    width: 80%;
    /* border-top: 2.5px solid rgba(128, 128, 128, 0.159); */
    overflow-y: scroll;
    margin: 10px auto;
    height: 100vh;
    padding: 10px 0;
    /* border-radius: 20px; */
    
}
.resultados-cont::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-cont{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    height: 350px;
    gap: 1px;
}

.mensaje2 {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: scroll;
    background: #363062;
    background: #3D30A2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 50px;
    border: 1px solid white;
    z-index: 2;
}


.mensajeAparece {
    animation: aparece .5s linear forwards;
}

@keyframes aparece {
    0% {
        filter: opacity(0%);
    }

    100% {
        filter: opacity(100%);
    }
}

.mensajeIrse {
    animation: irse .5s linear forwards;
}

@keyframes irse {
    
    100% {
        filter: opacity(0%);
    }
}

.indicacion-cont {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    background:var(--fondoGrisLinear);
    border-radius: 75px;
    margin: 20px;
    padding: 20px;
    animation: ondaBoton 1s linear .5s infinite;
    position: absolute;
    top: 0;
    z-index: 50;
}

.indicacion {
    font-family: var(--fuente4ta);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.indicacion:hover {
    cursor: pointer;
}

@media(max-width:600px) {

    .cuerpo{
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
   

   

    
    .resultados-cont{
        width: 100%;
        margin: 10px 0;
    }
    


    .mensaje2 {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        padding: 20px 10px;
    }
}

.botonBack_contenedor {
    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-height: 570px){
    .botonBack_contenedor{
        height: 40px;
    }
}

.botonBack_contenedor a{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.144);
    transform: translateY(-100%);
    animation: entrarBotonBack 1s ease-in 2s forwards;
    font-family: var(--fuentePrincipal);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.555);
}

@keyframes entrarBotonBack {
    100% {
        transform: translateY(0)
    }
}

.footer_consultas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 60);
    font-family: var(--fuente4ta);
    font-size: 12px;
    height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.footer_consultas a {
    font-size: 13px;
    font-weight: 600;
    text-decoration:underline;
    color: #a49734;
}

@media (max-height: 570px){
    .footer_consultas{
        display: none;
    }
}


.container-filtros{
    width: 100%;
    background: black;
    height: 100vh;
    position: absolute;
    z-index: 50;
    overflow:hidden;
}

.contenedornuevo{
    display: flex;
    justify-content: center;
    z-index: 100;
    height: 100px;
    width: 100%;
    overflow: hidden;
}


.contenedor-filtros-iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fondoGrisLinear);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 75px;
    width: 130px;
    border-left: 2px solid rgba(128, 128, 128, 0.155);
}

.contenedor-filtro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100%;
    pointer-events: none;
    margin-top: 5px;
    animation: aparece-contenedor-filtro .5s forwards;

    && p{
        text-transform: uppercase;
        font-size: 10px;
        padding: 3px;
        text-align: center;
    }
}

@keyframes aparece-contenedor-filtro {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

.contenedor-filtro-animacionOUT{
    animation: desaparece-contenedor-filtro .5s forwards;
}

@keyframes desaparece-contenedor-filtro {
    0%{transform: scale(1);}
    100%{transform: scale(0);}
}


.imagen-filtro-dia {
    width: 30px;
    height: 30px;
    background-image: url(../Iconos/fin-de-semana.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opcionDiaOculta{
    animation: opcionOculta .1s forwards;
}

.opcionDiaActiva{
    animation: opcionActiva forwards;
}

@keyframes opcionOculta {
    100%{
        filter: opacity(.5);
        transform: translateY(-50%);
    }
}

@keyframes opcionActiva {
    100%{
        filter: opacity(1);
    }
}


.contenedor-titulo h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.contenedor-opciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 30px;
    overflow-y: scroll;
    margin-top: 30px;
    padding: 10px;
    position: relative;
}

.contenedor-opciones img{
    position: absolute;
}

.boton-parada, .boton-destino{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 150px;
    height: 75px;
    border: 2px solid rgba(128, 128, 128, 0.291);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: right;
    font-family: var(--fuente4ta);
    transform: scale(0);
    background: #F5F5F5;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.575);
    cursor: pointer;
}

.boton-destino{
    flex-direction: column;
    width: 150px;
    font-size:13px;
    height: 100px;
    overflow: hidden;
}

.boton-destino h4 p{
    margin: 0;

}

.contenedor-imagenboton{
    display: flex;
    overflow: hidden;
    flex-basis: 60%;
}

.sobre{
    z-index: 10;
    text-align: center;
}

.imagen-boton, .imagen-boton-destino{
    background-image: url(../Iconos/parada-colectivo.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: entrada-icono 1s 2;
}

.imagen-boton-destino{
    background-image: url(../Iconos/flecharosa.png);
    animation: none;
    width: 25px;
    height: 25px;
    z-index: 5;
    animation: moverflecharosa 2s infinite;
}

@keyframes moverflecharosa {
    0%{
        transform: translateY(-25%);
    }
    100%{
         transform: translateY(25%)
    }
}

.fondo-boton-destino{
    background-image: url(../Imagenes/Logo_sinfondo\(webp\).webp);
    width: 120px;
    height: 80px;
    background-size: 80%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.2);
}

.contenedor-prueba{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.contenedor-vista{
    display: flex;
    width: 300px;
    box-shadow: 5px 5px 5px 1px;
}

.vista-izquierda{
    /* background:#F5FCCD; */
   background: #FFF5E0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.panel-izquierdo-logo{
    background-image: url(../Imagenes/Logo_sinfondo\(webp\).webp);
    width: 90px;
    height: 90px;
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center center;
    top: 0;
}

.panel-izquierdo-hora{
    /* font-family: var(--fuenteTer); */
    margin: -20px;
}
.panel-izquierdo-minutos{
    /* font-family: var(--fuenteTer); */
    margin-bottom: -20px;
}

.panel-izquierdo-texto{
    /* font-family: var(--fuenteTer); */
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    /* -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white; */
}

.panel-izquierdo-aviso{
    font-size: 13px;
    position: absolute;
    bottom: 0;
    margin: 0px 5px 20px 5px;
    color: #C70039;
    text-transform: uppercase;
    font-family: var(--fuenteTer);
    text-align: center;
    border: 3px solid;
    padding: 3px;
}

.vista-derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #C70039 ;
    background: var(--rojo2Linear);
    padding: 10px;
    flex-basis: 70%;
    position: relative;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.vista-derecha p{
    font-family: var(--fuenteSec);
    font-size: 10px;
    text-align: center;
}

.vista-derecha-estado{
    width: 100%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.150);
    margin: 20px;
    padding-bottom: 15px;
}

.vista-derecha-recorrido{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: inherit;
    position: relative;
    flex-basis: 80%;
}

.linearecorrido{
    transform: rotate(90deg);
    height: 5px;
    min-width: 200px;
    width: 150%;
    background-color: rgba(255, 255, 255, 0.268);
    position: absolute;
    z-index: 5;
}

.linearecorrido2{
    height: 3px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.867);
    transform: rotate(90deg);
}

.vista-derecha-recorrido p{
    font-size: 11px;
    line-height:1;
    z-index: 10;
    overflow: hidden;
}

.paradas-contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-direction: column;
    z-index: 10;
}

.parada-contenedor{
    width:125px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    border-radius: 10px;
    background: #141E46;
    z-index: 10;
    position: relative;
    transform: scale(0);
}

.parada-seleccionada {
    animation: parada-seleccion 1s .5s forwards;
}

@keyframes parada-seleccion {
    100%{
        background-color: white;
        color: black;
    }
}




.parada-imagen{
    background-image: url(../Iconos/parada-recorrido3.png);
    width: 20px;
    height: 20px;
    background-size: cover;

}

.vista-derecha-boleto{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 5px solid rgba(0, 0, 0, 0.150);
}


.vista-derecha-boleto p{
    font-family: var(--fuenteTer);
    font-weight: 100;
    font-size: 20px;
}
.boleto-imagen{
    background-image: url(../Iconos/boleto2.png);
    width: 50px;
    height: 50px;
    background-size: cover;
}
